header nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin-left: 16px;
}

div {
	clear: both;
}

nav ul {
	padding-left: 0px;
}

body {
	font-family: helvetica;
}

#logo {
	height: 80px;
}

.container {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

section img {
	height: 240px;
	width: 240px;
}

footer {
	font-size: 9pt;
	clear: both;
}